body {
    background-image: url(VP.jpg);
    background-size: cover;
    background-attachment: fixed;	
}
h4 { 
    font-size: 50px;
    color: red;
    text-align: center;
}
h4 { 
    font-size: 50px;
    color: red;
    text-align: center;
}

p{
    font-size: 60px;
    color:red;
    text-align: center;
}

p{ 
    font-size: 60px;
    color:red;
    text-align: center;
}
.hyperlinks{
    font-size: 60px;
    color:red;
    text-align: center; 
}

.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

label{
    font-size: 100;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(53, 15, 88);
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-style: italic;
}

li a:hover, li a.active {
    background-color: rgb(220, 122, 240);
}

.name {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); 
    background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-size: 16px 18px; 
    background-position: 98% 50%; 
    cursor: auto;
}
#classmate_add_popup {
    display: none;
}

.classmate-form {
    display: inline-block;
}
.classmate-form:invalid .classmate-save-button {
    display: none;
}
.classmate-form-row {
    min-width: 100px;
    max-width: 250px;
}
.classmate-form-row input[type="text"] {
    line-height: normal;
    padding: 3px;
    width: 100%;
    margin-bottom: 5px;
}
.classmate-form-row select {
    padding: 3px 0;
}
.classmate-form-row select:invalid {
    color: gray;
}
.classmate-form-row select:invalid > option {
    color: black;
}
.classmate-form-row label:first-child {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
.classmate-form-row label {
    margin-right: 5px;
}
.classmate-form-row label > input[type="radio"]{
    margin-right: 5px;
}
.classmate-form-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.classmate-form-actions > button {
    margin-left: 10px;
}
.classmate-form-actions > button:first-child {
    margin-left: 0;
}
